# Drilling Bit Data Integration System - Requirements
# Generated automatically based on project imports

# Core data processing
pandas>=1.5.0
numpy>=1.20.0

# Excel file handling
openpyxl>=3.0.0
xlsxwriter>=3.0.0

# Database connectivity
cx-Oracle>=8.0.0

# Visualization (optional)
matplotlib>=3.5.0
seaborn>=0.11.0

# Additional packages found in project
AppKit
BeautifulSoup
BitmapGlyphMetrics
CFF2ToCFF
CFFToCFF2
Carbon
ConfigParser
Cython
DefaultTable
Duration
E_B_D_T_
EasyDialogs
Epoch
EpochConverter
Foundation
HTMLParser
IPython
JpegImagePlugin
JpegPresets
MpoImagePlugin
OpenSSL
PIL
PyInstaller
PyQt4
PyQt5
PyQt6
PySide2
PySide6
Quartz
Queue
Res
StrConverter
StringIO
T_S_I_V_
TiffImagePlugin
TiffTags
UnitDbl
UnitDblConverter
UnitDblFormatter
UserDict
_3d
__builtin__
__future__
__main__
__pypy__
__version__
_abcoll
_afm
_aix_support
_api
_array_api_info
_array_like
_array_utils_impl
_arrayterator_impl
_asarray
_ast_gen
_axes
_backend
_backend_gtk
_backend_tk
_base
_binary
_cell_widths
_cext
_cffi_backend
_char_codes
_chart
_cmsgpack
_collections
_color_data
_common
_compat
_contourpy
_convertions
_core
_csv
_ctypes
_ctypeslib
_datasource
_deprecate
_dists
_distutils
_docstrings
_dtype
_dtype_like
_dummy_thread
_elffile
_emoji_codes
_emoji_replace
_enums
_envs
_expired_attrs_2_0
_export_format
_extension
_factories
_fileno
_format_impl
_frozen_importlib
_frozen_importlib_external
_g_v_a_r
_generator
_globals
_helper
_imaging
_imagingft
_imp
_impl
_implementation
_in_process
_internal_utils
_iotools
_isocbind
_json
_linalg
_log_render
_loop
_machar
_macos
_manylinux
_mathtext
_mathtext_data
_meson
_mt19937
_multiarray_umath
_nbit
_nbit_base
_nested_sequence
_npyio_impl
_openssl
_osx_support
_palettes
_parser
_pcg64
_philox
_pick
_pocketfft
_polybase
_private
_pytest
_ratio
_re
_reader
_scalars
_scimath_impl
_securetransport
_setmixin
_sfc64
_shape
_socket
_spinners
_ssl
_ssl_constants
_statistics
_stats
_stride_tricks_impl
_string_helpers
_structures
_testbuffer
_thread
_timer
_tkagg
_tokenizer
_toml_compat
_triangulation
_tricontour
_trifinder
_triinterpolate
_tripcolor
_triplot
_trirefine
_tritools
_type_aliases
_types
_typeshed
_typing
_ufunc
_ufunc_config
_ufunclike_impl
_user_array_impl
_util
_utils
_version
_windows
_wrap
_writer
abc
abstract
actions
adapters
adbc_driver_manager
adbc_driver_postgresql
adbc_driver_sqlite
algorithms
align
alignment
android
annotationlib
ansi
api
app
aq
arc
area_chart
array
array_interface_testing
arrayprint
artist
ast_transforms
atexit
attr
auth
author
auxfuncs
axes3d
axes_divider
axes_grid
axis
axis_artist
axisgrid
axisline_style
axislines
azure
backend_agg
backend_bases
backend_cairo
backend_gtk3
backend_gtk4
backend_qt
backend_qtagg
backend_qtcairo
backend_webagg_core
backend_wx
backends
bar_chart
base
base_impl
bcrypt
bezier
bindings
bisect
bit_generator
bokeh
borders
boto3
botocore
box
brotli
brotlicffi
beautifulsoup4>=4.9.0
bubble_chart
buffer
builtins
bz2
cPickle
cStringIO
c_ast
c_lexer
c_parser
cairo
cairocffi
candidates
capi_maps
categorical
cbook
cell
cell_range
cell_style
cells
certifi
cff
cffLib
cffi
cffi_opcode
cfuncs
cgi
charset_normalizer
chart_area
chart_bar
chart_column
chart_doughnut
chart_line
chart_pie
chart_radar
chart_scatter
chart_stock
chartsheet
chartspace
chebyshev
checks
child
cli
cmath
code_generators
color
color_triplet
colors
colorsys
column
columns
com
comments
common
commontypes
compare
compat
compileall
connect_params
connection
connectionpool
connector
console
constants
constrain
constructors
containers
contenttypes
contextlib
contextvars
contourpy
contrib
control
cookies
copyreg
crackfortran
crayons
criterion
cryptography
cssselect
ctypes
cu2qu
cursor
custom
cycler
cython
dask
data_source
database
dataclasses
datavalidation
dateutil
dbobject
decimal
default_styles
defaults
defcon
defined_name
defmatrix
defusedxml
deprecation
descriptors
diagram
diff
differential
difflib
dimensions
distributions
distro
distutils
doctest
docutils
drawing
drawings
driver_mode
dsn
dummy_thread
dummy_threading
effect
einsumfunc
emoji
encodings
enums
errno
error
error_bar
errors
et_xmlfile
exceptions
ext
external
extras
factory
fallback
fastcluster
fastparquet
feaLib
featureVars
feature_property_bag
features
fetch_info
fields
file_proxy
filecmp
fileinput
filelock
filepost
fill
fills
filters
floating_axes
fnmatch
fontTools
font_manager
fonts
format
formula
formulas
found_candidates
fractions
freetype
fromnumeric
fs
fsspec
ft2font
function_base
future
gc
gdc_uwi_lookup
geo
geometry
getlimits
getopt
getpass
gi
glyphsLib
google
graphic
graphlib
grid_finder
grid_helper_curvelinear
header_footer
heapq
helpers
hermite
hermite_e
highlighter
hooks
html5lib
htmlentitydefs
httplib
hyperlink
hypothesis
imp
importlib
interchange
interpolatableHelpers
interpolatablePlot
interpolatableTestContourOrder
interpolatableTestStartingPoint
intranges
ipaddress
ipykernel
ipywidgets
isoparser
java
jinja2
jnius
jupyter
keyring
keyword
kiwisolver
label
laguerre
layout
legend
legendre
lextab
lib
licenses
limited_api1
limited_api2
limited_api_latest
line
line_chart
linecache
lines
live
live_render
lob
lock
lxml
lxml_html_clean
lz4
lzma
marker
markers
markup
markupsafe
marshal
matrix
matrixlib
measure
mem_policy
memmap
merge
metadata
misc
miscplot
mmap
models
mpl_axes
mpl_toolkits
msal
mtrand
multiarray
munkres
mypy
named_styles
namespace
nanoarrow_bridge
netrc
ntlm
ntpath
numba
numbers
numeric
numerictypes
numexpr
oci
odf
ole
olefile
optparse
oracledb
otBase
otConverters
otData
otTables
otlLib
overrides
package_data
packager
packages
packaging
padding
page
pagebreak
pager
palette
palettes
panel
parasite_axes
parse
parser
patches
path
pathops
pdb
pickletools
picture
pie_chart
pip
pipeline
pivot
pkg_resources
pkgutil
platform
plistlib
plotarea
ply
plyparser
polar
polynomial
pool
pool_params
poolmanager
posixpath
pptx
pretty
print_settings
printoptions
progress_bar
properties
protection
protocol
providers
proxy
psOperators
psutil
pty
publish
py
py_compile
pyarrow
pycparser
pydoc
pylab
pyparsing
pytest
python_calamine
pytz
pyxlsb
qt_compat
qtpy
qu2cu
radar_chart
railroad
rcmod
read_only
recompiler
records
redis
reference
region
registry
regression
related
relation
relational
relationships
reorderGlyphs
reporters
reportlab
repr
reprlib
req_file
req_install
req_set
request
requirements
resolution
resolvers
resource
resources
response
results
retry
rich_value
rich_value_rel
rich_value_structure
rich_value_types
roundTools
rule
runpy
s3fs
sbixGlyph
sbixStrike
scatter_chart
scenario
scipy>=1.7.0
scipy_doctest
scope
screen
scripts
segment
select
selenium
sequence
serialisable
series
series_factory
sessions
sets
setuptools
setuptools_scm
shape
shape_base
shape_writer
shapes
sharedstrings
shiboken2
shiboken6
shlex
signal
sip
site
six
scikit-learn>=1.0.0
socks
soda
soupparser
source_config_tool
sources
sparse_vector
specifiers
sphinx
sphinx_gallery
spinner
spreadsheet_drawing
sqlalchemy>=1.4.0
ssl_
ssltransport
stat
statistics
statsmodels
status
status_codes
stock_chart
strings
structs
structures
style
styled
styles
subscr
surface_chart
sympy
syntax
sysconfig
table
table_builder
tables
tags
terminal_theme
testing
tests
text
textTools
textpath
textwrap
theme
thick_impl
thread
threadpoolctl
ticker
timeit
timeout
title
tkinter
token
tokenize
tokenizer
tomllib
tornado
tracemalloc
traitlets
transforms
trendline
ttLib
typing
typing_extensions
tz
ufo
ufoLib2
uharfbuzz
umath
unicode
unicodedata2
unittest
updown_bars
url
urllib2
urllib3_secure_extra
urlparse
util
utility
utils
uts46data
var
varLib
verifier
version
views
vml
wait
weakref
webbrowser
wheel
widgets
width
win
win32api
win32com
win32pdh
winreg
workbook
worksheet
wx
xarray
xattr
xdr
xkcd_rgb
xlrd
xmlchemy
xmlfile
xmlrpc
xmlrpclib
xmlwriter
yacctab
yaml
zipimport
zlib
zoneinfo
zopfli
